@import "../../../css/_mixins.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:host {
  display: flex;
  gap: 20px;
  font-size: 16px;
  line-height: 21px;
  /* align-items: center; */
  & .checkbox {
    --checkbox-size: 20px;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 2px solid var(--color-white);
    cursor: pointer;
  }
  & .checkbox * {
    display: none;
  }

  @mixin media-query-tablet {
    gap: 24px;
    font-size: 18px;
    line-height: 23px;
  }
}
:host(:state(checked)) .checkbox {
  border: none;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  & * {
    display: block;
  }
}
