@import "./_css_reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: #e6e5ea;
  --color-grey: #817d92;
  --color-dark-grey: #24232c;
  --color-very-dark-grey: #18171f;
  --font-family: "JetBrains Mono", monospace;
  --font-size: 16px;
  --font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight);
  color: var(--color-white);
  background-color: var(--color-very-dark-grey);
  line-height: 1.5;
}
