@import "./_css_reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: #e6e5ea;
  --color-grey: #817d92;
  --color-dark-grey: #24232c;
  --color-very-dark-grey: #18171f;
  --color-primary: #a4ffaf;
  --color-too-weak: #f64a4a;
  --color-weak: #fb7c58;
  --color-medium: #f8cd65;
  --font-family: "JetBrains Mono", monospace;
  --font-size: 16px;
  --font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight);
  color: var(--color-white);
  background-color: var(--color-very-dark-grey);
  line-height: 1.5;
}

input[type="text"] {
  width: 100%;
  height: 64px;
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  border: none;
  font-size: 24px;
  padding: 0 16px;
}
input[type="checkbox"] {
  display: none;
}
button {
  width: 100%;
  height: 56px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
  background-color: var(--color-primary);
  &:hover {
    background-color: var(--color-dark-grey);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    & svg path {
      fill: var(--color-primary);
    }
  }
  &:focus {
    outline: none;
  }
}

main {
  width: 100%;
}

password-generator-result {
  display: block;
  position: relative;

  & .copy-icon__wrapper {
    --copy-icon-height: 24px;
    height: var(--copy-icon-height);
    position: absolute;
    top: calc(50% - var(--copy-icon-height) / 2);
    right: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    & svg:hover {
      cursor: pointer;
      & path {
        fill: var(--color-white);
      }
    }
    & .copied-text {
      display: none;
      color: var(--color-primary);
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1.5;
      &.success {
        display: block;
      }
    }
  }
}

password-generator-wrapper {
  display: block;
  background-color: var(--color-dark-grey);

  & .password-generator__strength-block {
    display: flex;
    gap: 16px;
    padding: 16px;
    align-items: center;
    background-color: var(--color-very-dark-grey);
    & p {
      flex: 1;
      text-transform: uppercase;
      font-size: 16px;
      color: var(--color-grey);
    }
    & p.strength-meter__label {
      color: var(--color-white);
      font-size: 18px;
      text-align: right;
    }

    & .strength-meter {
      display: flex;
      gap: 8px;
      align-items: center;
      & p {
        color: var(--color-white);
        font-size: 18px;
        text-align: right;
      }

      & .strength-meter__bar {
        width: 10px;
        height: 28px;
        border: 2px solid var(--color-white);
      }

      &.too-weak {
        & .strength-meter__bar:nth-child(1) {
          background-color: var(--color-too-weak);
          border: none;
        }
      }
      &.weak {
        & .strength-meter__bar:nth-child(-n + 2) {
          background-color: var(--color-weak);
          border: none;
        }
      }
      &.medium {
        & .strength-meter__bar:nth-child(-n + 3) {
          background-color: var(--color-medium);
          border: none;
        }
      }
      &.strong {
        & .strength-meter__bar {
          background-color: var(--color-primary);
          border: none;
        }
      }
    }
  }
}
